body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.card-img{
      height: 214px;
}
.logo{
    display:flex;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}
.logo-img{
    height:47px;
    margin-right: 13px;
}
.logo-text{
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 15px;
    align-items: center;
    color: white;
}
.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    line-height: 40px;
}
.sign-in {
    background-color: black;
    color: white;
    padding: 13px 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    font-size: 15px;
    width: auto;
    height: 45px;
    align-items: center;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 45px;
}
.product {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.about {
    text-align: center;
    margin-top: 30px;
    background-color: #d3d3d3;
    padding: 1px;
    width: 100%;
    margin-top: 40px;
}
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
.footer .socials {
    margin-top: 10px;
}
